<h1>
  <ng-template *ngIf="!recipe.id; else edit_recipe">Add new recipe</ng-template>
  <ng-template #edit_recipe>Edit {{ recipe.title }}</ng-template>
</h1>
<mat-divider></mat-divider>

<div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
  <div fxFlex="65" fxLayout="column" fxfill>
    <mat-form-field class="vertical-margin" fxFlex="100">
      <mat-label>Title</mat-label>
      <input matInput type="text" required [(ngModel)]="recipe.title" />
    </mat-form-field>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-checkbox [(ngModel)]="vegetarian" fxFlex="50" [(ngModel)]="recipe.vegetarian">
        Vegetarian
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="glutenFree" fxFlex="50" [(ngModel)]="recipe.gluten_free">
        Gluten free
      </mat-checkbox>
    </div>
    <mat-form-field class="vertical-margin" fxFlex="100">
      <mat-label>Ready in (Minutes)</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="recipe.ready_in_minutes" />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Image name</mat-label>
      <input matInput type="url" [(ngModel)]="recipe.url_image" placeholder="Ex. image1.jpg" />
    </mat-form-field>
  </div>
  <div fxFlex="35">
    <img
      fxFill
      mat-card-image
      [src]="getimageUrl()"
      onerror="this.src='assets/images/no-image.png'"
    />
  </div>
</div>

<div fxLayout="column">
  <mat-form-field class="vertical-margin" appearance="fill">
    <mat-label>Summary</mat-label>
    <textarea
      matInput
      placeholder="Write brief description..."
      required
      [(ngModel)]="recipe.summary"
    ></textarea>
  </mat-form-field>
</div>

<div>Select cuisines</div>
<div class="vertical-margin">
  <div fxLayout.gt-xs="row wrap" fxLayout.xs="column" fxLayoutGap.gt-xs="10px">
    <div *ngFor="let cuisine of cuisinesEnum | enumToArray">
      <mat-checkbox [ngModel]="cuisineChecked(cuisine)" (click)="addCuisine(cuisine)">
        {{ cuisine }}
      </mat-checkbox>
    </div>
  </div>
</div>

<div class="vertical-margin">
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign=" center">
    <div>Steps</div>
    <button color="primary" mat-icon-button (click)="addBlankStep()">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <div *ngFor="let step of recipe.steps" fxFill class="vertical-margin">
    <app-step [step]="step"></app-step>
  </div>
</div>

<div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
  <button
    class="vertical-margin"
    fxFlex.gt-sm="50"
    color="accent"
    fxFill
    mat-raised-button
    (click)="saveRecipe()"
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button class="vertical-margin" fxFlex.gt-sm="50" color="error" fxFill mat-raised-button>
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</div>
