<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ recipe.title }}
    </mat-card-title>
    <mat-card-subtitle> {{ recipe.ready_in_minutes }} min </mat-card-subtitle>
  </mat-card-header>

  <!--TODO: retrieve these images from some other place: AWS S3?? -->
  <img mat-card-image [src]="recipe | getUrlImage" />

  <mat-card-content>
    <span *ngFor="let cuisine of recipe.cuisines">{{ cuisine }} </span>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="['/recipes/details', recipe.id]">
      Details
    </button>
    <button mat-raised-button color="accent" [routerLink]="['/recipes/edit', recipe.id]">
      Edit ...
    </button>
  </mat-card-actions>
</mat-card>
